[Unit] 
Description=Jupyter Notebook Server 
After=vasd.service

[Service] 
Type=simple 
PIDFile=/run/jupyter.pid 
User=nkim
#EnvironmentFile=/home/nkim/python_prep/
ExecStart=/home/nkim/goJupyter.sh
WorkingDirectory=/home/nkim/python_prep/exercises

[Install] 
WantedBy=multi-user.target
